<div class="banner">
  <div class="swiper-container" [swiper]="SwiperConfig">

    <div class="swiper-wrapper">
      <div *ngFor="let banner of banners" class="swiper-slide" [ngStyle]="{'background-image': 'url(' + banner.image + ')','background-size': 'cover','background-size': 'cover','background-position': 'center','background-repeat': 'no-repeat'}">
        <div class="description">
            <h2>{{banner.title}}</h2>
            <p>{{banner.description}}</p>
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-pager">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>