<div class="container">
  <h1>{{heading}}</h1>

  <div class="row">
    <div class="col-md-8">
      <div class="card text-center">
        <div class="card-body">
          <img src="{{image}}" class="img-fluid img-thumbnail rounded-circle">

          <h5 class="card-title">{{name}}</h5>
          <p>{{email}}</p>
          <p>{{contact}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item" routerLink="/my-account">
          My Account
        </li>
        <li class="list-group-item">Address</li>
        <li class="list-group-item">Orders</li>
        <li class="list-group-item" routerLink="/wishlist">Wishlist</li>
        <li class="list-group-item">Edit Account</li>
        <li class="list-group-item">Edit Password</li>
        <li class="list-group-item">Logout</li>
      </ul>
    </div>
  </div>




</div>