<div class="pos-f-t">
  <div class="container">
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <div class="pull-right">
          <ul class="nav">
            <li class="nav-item dropdown">
              <a href="#" title="My Account" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="#topDropdown">
                <i class="fa fa-user"></i>
                <span class="hidden-xs hidden-sm hidden-md">My Account</span>
                <span class="caret"></span>
              </a>
              <div class="dropdown-menu" id="topDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </li>
            <li class="nav-item"><a href="#" title="Search"><i class="fa fa-search"></i></a></li>
            <li class="nav-item"><a href="#" title="Wish List"><i class="fa fa-heart"></i></a></li>
            <li class="nav-item"><a href="#" title="Shopping Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us">Contact us</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i>&nbsp;
            <span class="hidden-xs hidden-sm hidden-md">My Account</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Account</a>
            <a class="dropdown-item" href="#">Wishlist</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Register</a>
            <a class="dropdown-item" href="#">Login</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>


<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container">
    <ul class="nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-us">Contact us</a>
      </li>
    </ul>
  </div>
</nav>